<section class="editor">
		<div class="editor__grid grid container">
			<button id="addPage" class="editor__button">+ Pages</button>
			{{#unless page.index}}
				<button id="addBlock" class="editor__button">+ Blocks</button>
			{{/unless}}
		</div>
	</div>
</section>