<section class="edit-banner">
	<div class="edit-banner__grid grid container">
		<button id="addPage" class="edit-banner__button">+ Pages</button>
		{{#unless page.index}}
			<button id="addBlock" class="edit-banner__button">+ Blocks</button>
		{{/unless}}
	</div>
</section>