.modal {
	background: $color-overlay;
	left: 0;
	height: 100vh;
	padding: 40px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9;

	&__form {
		background: $color-grey--light;
		flex-direction: column;
		justify-content: flex-start;
		left: 50%;
		margin: 0;
		padding: 40px;
		position: relative;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100vw - 120px);

		form {
			margin-top: 40px;
		}

		input,
		select,
		textarea {
			border: 1px solid $color-black;
			border-radius: 5px;
			margin: 5px 0 20px;
			padding: 20px;
			width: 100%;

			&.error {
				border-color: red;
			}
		}

		textarea {
			height: 200px;
		}

		.close {
			align-self: flex-end;
			cursor: pointer;
			font-weight: bold;
			font-size: 20px;
			right: 20px;
			position: absolute;
			top: 20px;
		}
	}

	button {
		align-self: flex-start;
		background: $color-blue;
		border: none;
		border-radius: 5px;
		color: $color-white;
		cursor: pointer;
		margin: 20px 0;
		padding: 10px;
		width: auto;

		&.alert-button {
			background: red;
			border: none;
			color: $color-white
		}

		&.submit-button {
			align-self: center;
		}
	}
}