$icon-size: 50px;

.editor {
	position: relative;

	.edit-block {
		background: transparent;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&:hover {
			box-shadow: 0 0 0 2px blue;
			cursor: pointer;
		}

		&__trigger {
			display: block;
			height: 100%;
			position: relative;
			width: 100%;
			z-index: 1;
		}
	}

	// Floating icons.
	&__icons {
		display: none;
		position: absolute;

		&--right {
			flex-direction: column;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__icon {
		background: $color-white;
		border: none;
		border-radius: $icon-size;
		cursor: pointer;
		font-size: 0;
		line-height: 0;
		margin: 5px 0;
		padding: 0;

		&--down,
		&--up {
			img {
				height: $icon-size;
				width: $icon-size;
			}
		}

		&--delete {
			background: $color-red;
			height: $icon-size;
			width: $icon-size;

			img {
				width: 20px;
			}
		}

	}

	&:hover {
		.editor__icons {
			display: flex;
		}
	}
}