.editor {
	background: transparent;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	&-trigger {
		display: block;
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 1;

		&:hover {
			box-shadow: 0 0 0 2px blue;
			cursor: pointer;
		}
	}

	&-add {
		background: $color-grey--light;
		height: 60px;
		line-height: 30px;
		text-align: center;
		width: 100%;
	}
}

.add-block,
.delete-block,
.block-up,
.block-down {
	display: none;
}

.block:hover {
	background: #FFFFE0;

	.add-block,
	.delete-block,
	.block-up,
	.block-down {
		display: block;
	}
}