$icon-size: 40px;

.editor {
	position: relative;

	.edit-block {
		background: transparent;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	// Floating icons.
	&__icons {
		display: none;
		position: absolute;

		&--bottom {
			flex-direction: row;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}

		&--right {
			flex-direction: column;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__icon {
		background: $color-white;
		border: none;
		border-radius: $icon-size;
		cursor: pointer;
		font-size: 0;
		height: $icon-size;
		width: $icon-size;		
		line-height: 0;
		margin: 5px;
		padding: 0;

		img {
			width: 16px;
		}

		&--bg {
			img {
				height: $icon-size;
				width: $icon-size;
			}
		}
		
		&--delete {
			background: $color-red;
		}
	}

	&:hover .editor__icons--right, 
	.edit-block:hover .editor__icons--bottom {
		display: flex;
	}

	.add-section .editor__icon {
		margin: 20px auto;
	}
}