* {
	box-sizing: border-box;
}

body {
	background: $color-grey--light;

	&.edit {
		padding-top: 70px;
	}
}

.container {
	margin: 0 auto;
	max-width: $container-width;
	padding: 40px;
	width: 100%;
}

img {
	height: auto;
	width: 100%;
}
