// Font families
$font-body: 'Open Sans', sans-serif;
$font-headline: 'Fjalla One', sans-serif;

// Type hierarchy
h1,
h2,
h3,
h4 {
	font-family: $font-headline;
}

p,
li,
button,
label,
input {
	font-family: $font-body;
	font-weight: 600;
}

// General
a,
a:visited,
a:focus,
a:hover {
	color: $color-blue;
	text-decoration: none;
}
