{{#extend "layout"}}
  {{#content "content"}}
{{!--     <main id="page" data-page="index">
      <section class="block hero">
        {{> image/image
            imageSrc="https://picsum.photos/1920/1080"}}
        <div class="hero-overlay">
          {{> text/text
              element="h1"
              text="BLOCKS"}}
        </div>
      </section>

      <section class="container">
        {{#if pages}}
          <h2>Pages</h2>
          <ul class="page-menu">
            {{#each pages}}
              <li>
                <a href="/{{@key}}">{{unescape_html this.title}}</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
    </main> --}}
  {{/content}}
{{/extend}}
