{{#extend "layout"}}
  {{#content "content"}}
    <section class="container">
        <h1>Blocks</h1>
      </section>

      {{#if editMode}}
        <section>
          <div class="grid">
            <button id="addBlock">+Add Blocks</button>
          </div>
        </section>
      {{/if}}

      {{#each blocks}}
        {{> (get_partial this.type) block=this}}
      {{/each}}
  {{/content}}
{{/extend}}



