{{#extend "layout"}}
  {{#content "content"}}
    <main id="page" data-page="index">
      <section class="container">
        <h1>
          <a href="/">{{page.title}}</a>
        </h1>
        <h2>{{page.text}}</h2>
      </section>

      <section class="container">
        {{#if pages}}
          <ul>
            {{#each pages}}
              <li>
                <a href="/{{@key}}">{{this.title}}</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
    </main>
  {{/content}}
{{/extend}}
