{{#extend "layout"}}
  {{#content "content"}}
    <section class="container">
      <h1>
        <a href="/">{{page.title}}</a>
      </h1>
      <h2>{{page.text}}</h2>
    </section>

    <section class="container">
      {{#if pages}}
        <ul>
          {{#each pages}}
            <li>
              <a href="/{{this.id}}">{{this.title}}</a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </section>

  {{/content}}
{{/extend}}
