{{#extend "layout"}}
	{{#content "content"}}
		<main id="page" data-page="{{id}}">
			{{> (get_partial "hero") 
					title=page.title 
					headline=page.headline
					subheadline=page.subheadline
					date=page.date
					image=page.cover}}

			{{#each blocks}}
				{{#if (get_component this)}}
					<div class="editor" data-index="{{@key}}">
						{{> (get_partial (get_component this))
								section=this
								sectionIndex=@key}}
						{{!-- Section Editor buttons --}}
						<div class="edit-section editor__icons editor__icons--right" data-index="{{@key}}"></div>
					</div>
				{{/if}}
			{{/each}}

			<section class="container editor">
				<div class="grid">
					<div class="grid-col grid-col--12 add-section"></div>
				</div>
			</section>
		</main>
	{{/content}}
{{/extend}}
