{{#extend "layout"}}
	{{#content "content"}}
		<main id="page" data-page="{{id}}">
			{{> (get_partial "hero") title=page.title image=page.cover}}

			{{#each blocks}}
				{{#if (get_component this)}}
					<div class="editor">
						{{> (get_partial (get_component this)) block=this id=@key}}

						{{!-- Editor buttons --}}
						<div class="editor__icons editor__icons--right">
							<button class="editor__icon editor__icon--up">
								<img src="/assets/icon-up.svg" />
							</button>
							<button class="editor__icon editor__icon--delete">
								<img src="/assets/icon-archive.svg" />
							</button>
							<button class="editor__icon editor__icon--down">
								<img src="/assets/icon-down.svg" />
							</button>
						</div>
					</div>
				{{/if}}
			{{/each}}

			<section class="container" data-block="{{id}}">
				<div class="grid">
					<div class="grid-col grid-col--12">
						<section class="edit-block" data-operation="add" ></section>
						<div>
							<p>Add new block</p>
						</div>
					</div>
				</div>
			</section>
		</main>
	{{/content}}
{{/extend}}
