{{#extend "layout"}}
	{{#content "content"}}
		<main id="page" data-page="{{id}}">
			{{#if ../editMode}}
				<section class="grid new-block"></section>
			{{/if}}

			{{#each blocks}}
				{{> (get_partial this.type) block=this id=@key editMode=../editMode}}
				{{#if ../editMode}}
					<section class="grid new-block" data-after-block="{{@key}}"></section>
				{{/if}}

			{{/each}}
		</main>
	{{/content}}
{{/extend}}
