{{#extend "layout"}}
	{{#content "content"}}
		<main id="page" data-page="{{id}}">
			{{#each blocks}}
				{{> (get_partial this.type) block=this id=@key editMode=../editMode}}
			{{/each}}

			{{#if ../editMode}}
				<section class="container" data-block="{{id}}">
					<div class="grid">
						<div class="grid-col grid-col--12">
							<section class="editor" data-operation="add" ></section>
							<div class="editor-add">
								<p>Add new block</p>
							</div>
						</div>
					</div>
				</section>
			{{/if}}
		</main>
	{{/content}}
{{/extend}}
