<section class="block three-up-image container">
	<div class="grid">
		<div class="grid-col grid-col--4">
      {{> image-block/image-block
          block=section.[0]
          sectionComplete="true"
          sectionIndex=sectionIndex
      }}
		</div>
		<div class="grid-col grid-col--4">
      {{> image-block/image-block
          block=section.[1]
          sectionComplete="true"
          sectionIndex=sectionIndex
      }}
		</div>
		<div class="grid-col grid-col--4">
      {{> image-block/image-block
          block=section.[2]
          sectionComplete="true"
          sectionIndex=sectionIndex
      }}
		</div>
	</div>
</section>