/* line 1, src/components/hero/hero.scss */
.hero {
  margin: 0 auto;
  max-width: 1600px;
  position: relative; }
  /* line 6, src/components/hero/hero.scss */
  .hero-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
  /* line 16, src/components/hero/hero.scss */
  .hero .text {
    color: #fff;
    font-color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%; }

/* line 2, src/components/centered-text/centered-text.scss */
.centered-text h2 {
  text-align: center; }

/* line 1, src/components/text/text.scss */
.text {
  padding: 20px 0; }

/* line 2, src/components/text-image/text-image.scss */
.text-image__text {
  -ms-flex-align: center;
      align-items: center; }
