/* line 6, src/sass/_type.scss */
h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif; }

/* line 13, src/sass/_type.scss */
p,
li,
button,
label,
input {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

/* line 23, src/sass/_type.scss */
a,
a:visited,
a:focus,
a:hover {
  color: #007bff;
  text-decoration: none; }

/* line 1, src/sass/_page.scss */
* {
  box-sizing: border-box; }

/* line 5, src/sass/_page.scss */
body {
  background: #fff; }
  /* line 8, src/sass/_page.scss */
  body.edit {
    padding-top: 70px; }

/* line 13, src/sass/_page.scss */
.container {
  margin: 40px auto;
  max-width: 1600px;
  padding: 0;
  width: 100%; }

/* line 20, src/sass/_page.scss */
img {
  height: auto;
  width: 100%; }

/*
 * Flexbox grid layout.
 */
/* line 13, src/sass/_grid.scss */
.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 20px; }
  @media (min-width: 768px) {
    /* line 13, src/sass/_grid.scss */
    .grid {
      margin: 0 60px; } }
  /* line 24, src/sass/_grid.scss */
  .grid-col--1 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 24, src/sass/_grid.scss */
      .grid-col--1 {
        -ms-flex-preferred-size: calc(8.33333% - 10px);
            flex-basis: calc(8.33333% - 10px);
        width: calc(8.33333% - 10px); } }
  /* line 32, src/sass/_grid.scss */
  .grid-col--2 {
    -ms-flex-preferred-size: calc(16.66667% - 10px);
        flex-basis: calc(16.66667% - 10px);
    width: calc(16.66667% - 10px); }
    @media (min-width: 768px) {
      /* line 32, src/sass/_grid.scss */
      .grid-col--2 {
        -ms-flex-preferred-size: calc(16.66667% - 10px);
            flex-basis: calc(16.66667% - 10px);
        width: calc(16.66667% - 10px); } }
  /* line 40, src/sass/_grid.scss */
  .grid-col--3 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 40, src/sass/_grid.scss */
      .grid-col--3 {
        -ms-flex-preferred-size: calc(25% - 10px);
            flex-basis: calc(25% - 10px);
        width: calc(25% - 10px); } }
  /* line 48, src/sass/_grid.scss */
  .grid-col--4 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 48, src/sass/_grid.scss */
      .grid-col--4 {
        -ms-flex-preferred-size: calc(33.33333% - 10px);
            flex-basis: calc(33.33333% - 10px);
        width: calc(33.33333% - 10px); } }
  /* line 56, src/sass/_grid.scss */
  .grid-col--5 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 56, src/sass/_grid.scss */
      .grid-col--5 {
        -ms-flex-preferred-size: calc(41.66667% - 10px);
            flex-basis: calc(41.66667% - 10px);
        width: calc(41.66667% - 10px); } }
  /* line 64, src/sass/_grid.scss */
  .grid-col--6 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 64, src/sass/_grid.scss */
      .grid-col--6 {
        -ms-flex-preferred-size: calc(50% - 10px);
            flex-basis: calc(50% - 10px);
        width: calc(50% - 10px); } }
  /* line 72, src/sass/_grid.scss */
  .grid-col--7 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 72, src/sass/_grid.scss */
      .grid-col--7 {
        -ms-flex-preferred-size: calc(58.33333% - 10px);
            flex-basis: calc(58.33333% - 10px);
        width: calc(58.33333% - 10px); } }
  /* line 80, src/sass/_grid.scss */
  .grid-col--8 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 80, src/sass/_grid.scss */
      .grid-col--8 {
        -ms-flex-preferred-size: calc(66.66667% - 10px);
            flex-basis: calc(66.66667% - 10px);
        width: calc(66.66667% - 10px); } }
  /* line 88, src/sass/_grid.scss */
  .grid-col--9 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 88, src/sass/_grid.scss */
      .grid-col--9 {
        -ms-flex-preferred-size: calc(75% - 10px);
            flex-basis: calc(75% - 10px);
        width: calc(75% - 10px); } }

/*
 * @todo: remove Editor styles from dist bundle.
 */
/* line 10, src/sass/_editor.scss */
.editor {
  margin: 0 60px; }
  /* line 13, src/sass/_editor.scss */
  .editor-overlay {
    background: #efefef;
    -ms-flex-pack: center;
        justify-content: center;
    height: 60px;
    margin: 0;
    min-height: 60px; }
    /* line 20, src/sass/_editor.scss */
    .editor-overlay:hover {
      cursor: pointer;
      position: relative; }
      /* line 24, src/sass/_editor.scss */
      .editor-overlay:hover::after {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        content: 'EDIT';
        display: -ms-flexbox;
        display: flex;
        font-size: 36px;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        text-align: center; }
  /* line 39, src/sass/_editor.scss */
  .editor-container {
    position: relative; }
    /* line 42, src/sass/_editor.scss */
    .editor-container .editor {
      margin: 0; }
    /* line 46, src/sass/_editor.scss */
    .editor-container .editor-overlay {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      background: transparent; }

/* line 1, src/sass/_dialog.scss */
.dialog {
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9; }
  /* line 10, src/sass/_dialog.scss */
  .dialog.hidden {
    display: none;
    pointer-events: none; }
  /* line 15, src/sass/_dialog.scss */
  .dialog__grid {
    background: #fff;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    left: 50%;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 120px); }
  /* line 27, src/sass/_dialog.scss */
  .dialog form {
    margin-top: 40px; }
  /* line 31, src/sass/_dialog.scss */
  .dialog input {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px 0 20px;
    padding: 20px;
    width: 100%; }
  /* line 39, src/sass/_dialog.scss */
  .dialog button {
    margin: 10px auto;
    padding: 10px;
    width: auto; }
  /* line 45, src/sass/_dialog.scss */
  .dialog .close {
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px; }
