/* line 6, src/sass/_type.scss */
h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif; }

/* line 13, src/sass/_type.scss */
h1 {
  font-size: 48px;
  line-height: 56px; }

/* line 18, src/sass/_type.scss */
h2 {
  font-size: 36px;
  line-height: 48px; }

/* line 23, src/sass/_type.scss */
p,
li,
button,
label,
input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

/* line 35, src/sass/_type.scss */
a,
a:visited,
a:focus,
a:hover {
  color: #007bff;
  text-decoration: none; }

/* line 1, src/sass/_page.scss */
* {
  box-sizing: border-box; }

/* line 5, src/sass/_page.scss */
body {
  background: #fff; }

/* line 9, src/sass/_page.scss */
.container {
  margin: 40px auto;
  max-width: 1600px;
  padding: 0 40px;
  width: 100%; }

/* line 16, src/sass/_page.scss */
.page-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 21, src/sass/_page.scss */
  .page-menu li {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0; }

/* line 29, src/sass/_page.scss */
img {
  height: auto;
  width: 100%; }

/*
 * Flexbox grid layout.
 */
/* line 13, src/sass/_grid.scss */
.grid {
  -ms-flex-align: stretch;
      align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 20px; }
  @media (min-width: 768px) {
    /* line 13, src/sass/_grid.scss */
    .grid {
      margin: 0 60px; } }
  /* line 24, src/sass/_grid.scss */
  .grid-col {
    -ms-flex-align: stretch;
        align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    /* line 29, src/sass/_grid.scss */
    .grid-col--1 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 29, src/sass/_grid.scss */
        .grid-col--1 {
          -ms-flex-preferred-size: calc(8.33333% - 10px);
              flex-basis: calc(8.33333% - 10px);
          width: calc(8.33333% - 10px); } }
    /* line 37, src/sass/_grid.scss */
    .grid-col--2 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 37, src/sass/_grid.scss */
        .grid-col--2 {
          -ms-flex-preferred-size: calc(16.66667% - 10px);
              flex-basis: calc(16.66667% - 10px);
          width: calc(16.66667% - 10px); } }
    /* line 45, src/sass/_grid.scss */
    .grid-col--3 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 45, src/sass/_grid.scss */
        .grid-col--3 {
          -ms-flex-preferred-size: calc(25% - 10px);
              flex-basis: calc(25% - 10px);
          width: calc(25% - 10px); } }
    /* line 53, src/sass/_grid.scss */
    .grid-col--4 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 53, src/sass/_grid.scss */
        .grid-col--4 {
          -ms-flex-preferred-size: calc(33.33333% - 10px);
              flex-basis: calc(33.33333% - 10px);
          width: calc(33.33333% - 10px); } }
    /* line 61, src/sass/_grid.scss */
    .grid-col--5 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 61, src/sass/_grid.scss */
        .grid-col--5 {
          -ms-flex-preferred-size: calc(41.66667% - 10px);
              flex-basis: calc(41.66667% - 10px);
          width: calc(41.66667% - 10px); } }
    /* line 69, src/sass/_grid.scss */
    .grid-col--6 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 69, src/sass/_grid.scss */
        .grid-col--6 {
          -ms-flex-preferred-size: calc(50% - 10px);
              flex-basis: calc(50% - 10px);
          width: calc(50% - 10px); } }
    /* line 77, src/sass/_grid.scss */
    .grid-col--7 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 77, src/sass/_grid.scss */
        .grid-col--7 {
          -ms-flex-preferred-size: calc(58.33333% - 10px);
              flex-basis: calc(58.33333% - 10px);
          width: calc(58.33333% - 10px); } }
    /* line 85, src/sass/_grid.scss */
    .grid-col--8 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 85, src/sass/_grid.scss */
        .grid-col--8 {
          -ms-flex-preferred-size: calc(66.66667% - 10px);
              flex-basis: calc(66.66667% - 10px);
          width: calc(66.66667% - 10px); } }
    /* line 93, src/sass/_grid.scss */
    .grid-col--9 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 93, src/sass/_grid.scss */
        .grid-col--9 {
          -ms-flex-preferred-size: calc(75% - 10px);
              flex-basis: calc(75% - 10px);
          width: calc(75% - 10px); } }
    /* line 102, src/sass/_grid.scss */
    .grid-col--10 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 102, src/sass/_grid.scss */
        .grid-col--10 {
          -ms-flex-preferred-size: calc(83.33333% - 10px);
              flex-basis: calc(83.33333% - 10px);
          width: calc(83.33333% - 10px); } }
    /* line 111, src/sass/_grid.scss */
    .grid-col--12 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }

/*
 * @todo: remove Editor styles from dist bundle.
 */
/* line 1, src/sass/_editor.scss */
.editor {
  background: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  /* line 9, src/sass/_editor.scss */
  .editor-trigger {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1; }
    /* line 15, src/sass/_editor.scss */
    .editor-trigger:hover {
      box-shadow: 0 0 0 2px blue;
      cursor: pointer; }
  /* line 21, src/sass/_editor.scss */
  .editor-add {
    background: #efefef;
    height: 60px;
    line-height: 30px;
    text-align: center;
    width: 100%; }

/* line 1, src/sass/_dialog.scss */
.dialog {
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  height: 100vh;
  padding: 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9; }
  /* line 11, src/sass/_dialog.scss */
  .dialog__banner {
    background: #efefef;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; }
    /* line 18, src/sass/_dialog.scss */
    .dialog__banner .container {
      margin: 10px auto;
      padding: 0 20px;
      text-align: right; }
    /* line 24, src/sass/_dialog.scss */
    .dialog__banner button {
      margin: 0 10px; }
  /* line 29, src/sass/_dialog.scss */
  .dialog__form {
    background: #efefef;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    left: 50%;
    margin: 0;
    padding: 40px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 120px); }
    /* line 41, src/sass/_dialog.scss */
    .dialog__form form {
      margin-top: 40px; }
    /* line 45, src/sass/_dialog.scss */
    .dialog__form input,
    .dialog__form select {
      border: 1px solid #000;
      border-radius: 5px;
      margin: 5px 0 20px;
      padding: 20px;
      width: 100%; }
      /* line 53, src/sass/_dialog.scss */
      .dialog__form input.error,
      .dialog__form select.error {
        border-color: red; }
    /* line 58, src/sass/_dialog.scss */
    .dialog__form button {
      margin: 10px auto; }
    /* line 62, src/sass/_dialog.scss */
    .dialog__form .close {
      -ms-flex-item-align: end;
          align-self: flex-end;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
      right: 20px;
      position: absolute;
      top: 20px; }
  /* line 73, src/sass/_dialog.scss */
  .dialog button {
    cursor: pointer;
    padding: 10px;
    width: auto; }
    /* line 78, src/sass/_dialog.scss */
    .dialog button.alert-button {
      background: red;
      border: none;
      color: white; }
