/* line 6, src/sass/_type.scss */
h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif; }

/* line 13, src/sass/_type.scss */
p,
li,
button,
label,
input {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

/* line 23, src/sass/_type.scss */
a,
a:visited,
a:focus,
a:hover {
  color: #007bff;
  text-decoration: none; }

/* line 1, src/sass/_page.scss */
* {
  box-sizing: border-box; }

/* line 5, src/sass/_page.scss */
body {
  background: #efefef; }
  /* line 8, src/sass/_page.scss */
  body.edit {
    padding-top: 70px; }

/* line 13, src/sass/_page.scss */
.container {
  margin: 40px auto;
  max-width: 1600px;
  padding: 0;
  width: 100%; }

/* line 20, src/sass/_page.scss */
img {
  height: auto;
  width: 100%; }

/*
 * Flexbox grid layout.
 */
/* line 13, src/sass/_grid.scss */
.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 20px; }
  @media (min-width: 768px) {
    /* line 13, src/sass/_grid.scss */
    .grid {
      margin: 0 60px; } }
  /* line 24, src/sass/_grid.scss */
  .grid-col--1 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 24, src/sass/_grid.scss */
      .grid-col--1 {
        -ms-flex-preferred-size: calc(8.33333% - 10px);
            flex-basis: calc(8.33333% - 10px);
        width: calc(8.33333% - 10px); } }
  /* line 32, src/sass/_grid.scss */
  .grid-col--2 {
    -ms-flex-preferred-size: calc(16.66667% - 10px);
        flex-basis: calc(16.66667% - 10px);
    width: calc(16.66667% - 10px); }
    @media (min-width: 768px) {
      /* line 32, src/sass/_grid.scss */
      .grid-col--2 {
        -ms-flex-preferred-size: calc(16.66667% - 10px);
            flex-basis: calc(16.66667% - 10px);
        width: calc(16.66667% - 10px); } }
  /* line 40, src/sass/_grid.scss */
  .grid-col--3 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 40, src/sass/_grid.scss */
      .grid-col--3 {
        -ms-flex-preferred-size: calc(25% - 10px);
            flex-basis: calc(25% - 10px);
        width: calc(25% - 10px); } }
  /* line 48, src/sass/_grid.scss */
  .grid-col--4 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 48, src/sass/_grid.scss */
      .grid-col--4 {
        -ms-flex-preferred-size: calc(33.33333% - 10px);
            flex-basis: calc(33.33333% - 10px);
        width: calc(33.33333% - 10px); } }
  /* line 56, src/sass/_grid.scss */
  .grid-col--5 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 56, src/sass/_grid.scss */
      .grid-col--5 {
        -ms-flex-preferred-size: calc(41.66667% - 10px);
            flex-basis: calc(41.66667% - 10px);
        width: calc(41.66667% - 10px); } }
  /* line 64, src/sass/_grid.scss */
  .grid-col--6 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 64, src/sass/_grid.scss */
      .grid-col--6 {
        -ms-flex-preferred-size: calc(50% - 10px);
            flex-basis: calc(50% - 10px);
        width: calc(50% - 10px); } }
  /* line 72, src/sass/_grid.scss */
  .grid-col--7 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 72, src/sass/_grid.scss */
      .grid-col--7 {
        -ms-flex-preferred-size: calc(58.33333% - 10px);
            flex-basis: calc(58.33333% - 10px);
        width: calc(58.33333% - 10px); } }
  /* line 80, src/sass/_grid.scss */
  .grid-col--8 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 80, src/sass/_grid.scss */
      .grid-col--8 {
        -ms-flex-preferred-size: calc(66.66667% - 10px);
            flex-basis: calc(66.66667% - 10px);
        width: calc(66.66667% - 10px); } }
  /* line 88, src/sass/_grid.scss */
  .grid-col--9 {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
    width: calc(100% - 10px); }
    @media (min-width: 768px) {
      /* line 88, src/sass/_grid.scss */
      .grid-col--9 {
        -ms-flex-preferred-size: calc(75% - 10px);
            flex-basis: calc(75% - 10px);
        width: calc(75% - 10px); } }

/* line 1, src/sass/_editor.scss */
.edit-mode {
  padding-top: 60px; }
  /* line 4, src/sass/_editor.scss */
  .edit-mode .edit-banner {
    background: #ff0;
    height: 70px;
    left: 0;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    width: 100%; }
    /* line 13, src/sass/_editor.scss */
    .edit-mode .edit-banner__grid {
      -ms-flex-pack: end;
          justify-content: flex-end;
      margin: 0 auto;
      padding: 0; }
    /* line 19, src/sass/_editor.scss */
    .edit-mode .edit-banner__button {
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      margin: 0 10px;
      padding: 5px; }
  /* line 29, src/sass/_editor.scss */
  .edit-mode .dialog {
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw; }
    /* line 37, src/sass/_editor.scss */
    .edit-mode .dialog.hidden {
      display: none;
      pointer-events: none; }
    /* line 42, src/sass/_editor.scss */
    .edit-mode .dialog__grid {
      background: #fff;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: start;
          justify-content: flex-start;
      left: 50%;
      margin: 0;
      position: relative;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100vw - 120px);
      z-index: 999; }
    /* line 55, src/sass/_editor.scss */
    .edit-mode .dialog form {
      margin-top: 40px; }
    /* line 59, src/sass/_editor.scss */
    .edit-mode .dialog input {
      border: 1px solid #000;
      border-radius: 5px;
      margin: 5px 0 20px;
      padding: 20px;
      width: 100%; }
    /* line 67, src/sass/_editor.scss */
    .edit-mode .dialog button {
      margin: 10px auto;
      padding: 10px;
      width: auto; }
  /* line 77, src/sass/_editor.scss */
  .edit-mode .edit-block:hover,
  .edit-mode .new-block:hover {
    cursor: pointer;
    position: relative; }
    /* line 81, src/sass/_editor.scss */
    .edit-mode .edit-block:hover::after,
    .edit-mode .new-block:hover::after {
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      content: 'EDIT';
      display: -ms-flexbox;
      display: flex;
      font-size: 36px;
      -ms-flex-direction: column;
          flex-direction: column;
      height: 100%;
      -ms-flex-pack: center;
          justify-content: center;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 9; }
  /* line 100, src/sass/_editor.scss */
  .edit-mode .new-block {
    -ms-flex-pack: center;
        justify-content: center;
    height: 60px; }
    /* line 104, src/sass/_editor.scss */
    .edit-mode .new-block:hover::after {
      content: 'ADD'; }
  /* line 109, src/sass/_editor.scss */
  .edit-mode .close {
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px; }
