<section class="block two-up-image container">
	<div class="grid">
	  <div class="grid-col grid-col--1"></div>
	  <div class="grid-col grid-col--5">
	  	{{> image-block/image-block
	  			blockIndex="0"
	  			caption=caption-1
	  			imageSrc=image-1
	  			sectionIndex=sectionIndex
	  	}}
	  </div>
	  <div class="grid-col grid-col--5">
	  	{{> image-block/image-block
	  			blockIndex="1"
	  			caption=caption-2
	  			imageSrc=image-2
	  			sectionIndex=sectionIndex
	  	}}
	  </div>
	  <div class="grid-col grid-col--1"></div>
	</div>
</section>