<section class="block two-up-image container">
	<div class="grid">
	  <div class="grid-col grid-col--1"></div>
	  <div class="grid-col grid-col--5 {{#if section.[0].align}}align-{{section.[0].align}}{{/if}}">
      {{> image-block/image-block
          block=section.[0]
          sectionIndex=sectionIndex
      }}
	  </div>
	  <div class="grid-col grid-col--5 {{#if section.[1].align}}align-{{section.[1].align}}{{/if}}">
      {{> image-block/image-block
          block=section.[1]
          sectionIndex=sectionIndex
      }}
	  </div>
	  <div class="grid-col grid-col--1"></div>
	</div>
</section>