<section class="block two-up-image container">
	<div class="grid">
	  <div class="grid-col grid-col--1"></div>
	  <div class="grid-col grid-col--5">
	  	{{> image-block/image-block
	  			blockId=id
	  			blockType="two-up-image"
	  			caption=caption-1
	  			fieldId="image-1"
	  			fieldType="image"
	  			imageSrc=image-1
	  	}}
	  </div>
	  <div class="grid-col grid-col--5">
	  	{{> image-block/image-block
	  			blockId=id
	  			blockType="two-up-image"
	  			caption=caption-2
	  			fieldId="image-2"
	  			fieldType="image"
	  			imageSrc=image-2
	  	}}
	  </div>
	  <div class="grid-col grid-col--1"></div>
	</div>
</section>