<section class="block hero" data-block="{{id}}">
      {{> image-block/image-block
			blockId=id
			blockType="hero"
			editMode=editMode
			fieldId="image"
			fieldType="image"
			imageSrc=image
	}}
	<div class="hero-overlay">
		{{> text-block/text-block
  			blockId=id
  			blockType="hero"
				editMode=editMode
				element="h1"
  			fieldId="text"
  			fieldType="hero"
				imageSrc=image
  			text=text
  	}}
	</div>
</section>