<section class="block hero">
  {{> image-block/image-block
			imageSrc=image
	  	sectionIndex=sectionIndex
	}}
	<div class="hero-overlay">
		{{> text-block/text-block
				element="h1"
	  		sectionIndex=sectionIndex
  			text=title
  	}}
	</div>
</section>