<section class="block hero" data-block="{{id}}">
	{{> image/image
			imageSrc=image
			editMode=editMode
			blockId=id
			blockType="hero"
			fieldId="image"
			fieldType="image"}}
	<div class="hero-overlay">
		{{> text/text
  			blockId=id
  			blockType="hero"
				editMode=editMode
				element="h1"
  			fieldId="text"
  			fieldType="text"
  			text=text}}
	</div>
</section>