<section class="block hero">
	<img src="{{#if image}}{{image}}{{else}}https://picsum.photos/1920/1080{{/if}}" />
	<div class="hero-overlay">
		<h1 class="text">
			{{unescape_html title}}
		</h1>
	</div>
</section>