<section class="block text-image container">
  <div class="grid">
    <div class="grid-col grid-col--6">
      {{> image-block/image-block
          block=section.[0]
          sectionComplete="true"
          sectionIndex=sectionIndex
      }}
    </div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--5 text-image__text">
      {{> text-block/text-block
          block=section.[1]
          element="p"
          sectionComplete="true"
          sectionIndex=sectionIndex
          text=block.text
      }}
    </div>
  </div>
</section>