<section class="block three-up-image container" data-block="{{id}}">
	<div class="grid">
		<div class="grid-col grid-col--4">
	  	{{> image/image
	  			imageSrc=image-1
	  			editMode=editMode
	  			blockId=id
	  			blockType="three-up-image"
	  			fieldId="image-1"
	  			fieldType="image"}}
		</div>
		<div class="grid-col grid-col--4 ">
	  	{{> image/image
	  			imageSrc=image-2
	  			editMode=editMode
	  			blockId=id
	  			blockType="three-up-image"
	  			fieldId="image-2"
	  			fieldType="image"}}
		</div>
		<div class="grid-col grid-col--4">
	  	{{> image/image
	  			imageSrc=image-3
	  			editMode=editMode
	  			blockId=id
	  			blockType="three-up-image"
	  			fieldId="image-3"
	  			fieldType="image"}}
		</div>
	</div>
</section>