<section class="block centered-image container" data-block="{{id}}">
	<div class="grid">
		<div class="grid-col grid-col--2"></div>
		<div class="grid-col grid-col--8">
	  	{{> image/image
	  			imageSrc=image
	  			editMode=editMode
	  			blockId=id
	  			blockType="text-image"
	  			fieldId="image"
	  			fieldType="image"}}
		</div>
		<div class="grid-col grid-col--2"></div>	
	</div>
</section>