<section class="block centered-image container" data-block="{{id}}">
	<div class="grid">
		<div class="grid-col grid-col--2"></div>
		<div class="grid-col grid-col--8">
			{{> image/image
					blockId=id
					blockType="text-image"
					caption=caption
					editMode=editMode
					fieldId="image"
					fieldType="image"
					imageSrc=image
			}}
		</div>
		<div class="grid-col grid-col--2"></div>	
	</div>
</section>