<section id="blockDialog" class="dialog hidden">
	<div class="dialog__grid grid container">
		<div id="closeBlock" class="close">CLOSE</div>
		<h2>Add a new Block</h2>
		
		<label for="blockType">Block Type</label>
		<select id="blockType">
			<option value="text-image">Text and Image</option>
			<option value="three-up-image">Three-up Image</option>
			<option value="two-up-image">Two-Up Image</option>
		</select>

		<button class="submit">Submit</button>
	</div>
</section>