<section id="imageDialog" class="dialog hidden close">
	<div class="dialog__grid grid container">
		<div class="close">CLOSE</div>
		<p>Edit Image</p>
		<input type="file" id="imageField" accept="image/png, image/jpeg">
		<button class="submit-field">Submit</button>
	</div>
</section>
