<section id="pageDialog" class="dialog hidden">
	<div class="dialog__grid grid container">
		<div id="closePage" class="close">CLOSE</div>	
		<h2>Add a new Page</h2>
		<label for="username">Page Title</label>
		<input type="text" placeholder="example: My New Page" id="pageTitle" />

		<label for="username">URL Slug</label>
		<input type="text" placeholder="example: my-new-page" id="pageSlug" />

		<label for="username">Text</label>
		<input type="text" placeholder="Lorem ipsum" id="pageText" />
		
		<button id="submitPage">Submit</button>
	</div>
</section>