<section class="block text-image container" data-block="{{id}}">
	<div class="grid">
		<div class="grid-col grid-col--5">
	  	{{> image/image
	  			imageSrc=image
	  			editMode=editMode
	  			blockId=id
	  			blockType="text-image"
	  			fieldId="image"
	  			fieldType="image"}}
		</div>
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--6 text-image__text">
			{{> text/text					
	  			blockId=id
	  			blockType="text-image"
					editMode=editMode
					element="p"
	  			fieldId="text"
	  			fieldType="text"
	  			text=text}}
		</div>
	</div>
</section>