<section class="block text-image grid"
		data-block="{{id}}">
	<div class="grid-col--5">
		<img src="https://place-hold.it/600x400" />
	</div>
	<div class="grid-col--1"></div>
	<div class="grid-col--6">
		<h2>{{block.text}}</h2>
	</div>
</section>