<section class="block text-image container" data-index="{{id}}">
	<div class="grid">
		<div class="grid-col grid-col--6">
	  	{{> image-block/image-block
	  			blockIndex=id
	  			fieldIndex="0"
	  			fieldType="image"
	  			imageSrc=block[0].src
				}}
		</div>
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--5 text-image__text">
			{{> text-block/text-block
	  			blockIndex=id
					element="p"
	  			fieldIndex="1"
	  			fieldType="text"
	  			text=block[0].text
	  	}}
		</div>
	</div>
</section>