<div class="two-up-image grid">
  <div class="grid-col grid-col--1"></div>
  <div class="grid-col grid-col--5">
		<img src="https://place-hold.it/600x400" />
  </div>
  <div class="grid-col grid-col--5">
		<img src="https://place-hold.it/600x400" />
  </div>
  <div class="grid-col grid-col--1"></div>
</div>