$color-black: #000;
$color-blue: #007bff;
$color-blue--dark: #0069d9;
$color-grey--dark: #444;
$color-grey--light: #dedede;
$color-overlay: rgba(0,0,0, .8);
$color-overlay--light: rgba(222,222,222, .8);

$color-red: #dc3545;
$color-red--dark: #bd2130;
$color-white: #fff;
$color-yellow: #ff0;

$filter-white: invert(100%) sepia(97%) saturate(0%) hue-rotate(34deg) brightness(103%) contrast(104%);