/*
 * Edit mode styles for non-react components.
 */
.edit-mode {
  .grid-resize {
    background: transparent;
    cursor: col-resize;
    height: 100%;
    position: absolute;
    right: -5px;
    width: 10px;
    z-index: 999;
  }

  .grid-col:last-child .resize {
    display: none;
    pointer-events: none;
  }

  .block:hover .grid-col {
    cursor: pointer;
    outline: 1px dashed $color-grey--dark;
  }
}
