$button-size: 40px;
$button-size-large: 80px;
$icon-size: 16px;
$icon-size-medium: 20px;
$icon-size-large: 30px;
$tooltip-height: 24px;


.editor {
	position: relative;

	/*
	 * Overlay grid.
	 */
	&__grid {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		left: 50%;
		height: 100%;
		margin: 0;
		padding: 0 20px;
		position: fixed;
		top: 0;
		transform: translateX(-50%);
		width: 100%;
		z-index: -1;

		@include bp(tablet) {
			flex-direction: row;
		}

		.grid-col {
			background: #dc3545;
			opacity: 0.15;
			outline: 1px solid black;
		}

		@for $i from 1 through 12 {
			.grid-col--#{$i} {
				flex-basis: 100%;

				@include bp(tablet) {
					flex-basis: (100% / 12) * $i;
				}
			}
		}
	}

  /*
   * Icons
   */   
	&__icon {
		background: $color-black;
		border: none;
		border-radius: $button-size;
		cursor: pointer;
		font-size: 0;
		height: $button-size;
		width: $button-size;		
		line-height: 0;
		margin: 5px;
		padding: 0;
		position: relative;

		&:hover {
			background: $color-red;

			object {
				pointer-events: none;
			}

			.editor__tooltip {
				display: block;
			}
		}

		&:active {
			background: $color-red--dark;
		}

		object {
			filter: $filter-white;
			height: $icon-size;
			width: $icon-size;
		}
	}

	&__icon--large {
		border-radius: $button-size-large;
		height: $button-size-large;
		width: $button-size-large;

		object {
			height: $icon-size-large;
			width: $icon-size-large;
		}
	}

	&__icon--delete object {
		filter: none;
	}

	// Icon instances
	&__toggle .editor__icon {
		bottom: 40px;
		position: fixed;
		right: 40px;
		z-index: 9;
	}

	&__tooltip {
		background: $color-grey--dark;
		border-radius: 5px;
		color: $color-white;
		display: none;
		left: -124px;
		font-size: 12px;
		line-height: $tooltip-height;
		height: $tooltip-height;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 120px;
	}
}


	// &__icons {
	// 	display: none;
	// 	position: absolute;
	// 	z-index: 9;

		// &--bottom {
		// 	align-items: flex-end;
		// 	flex-direction: row;
		// 	bottom: 0;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }

		// &--right {
		// 	align-items: flex-end;
		// 	flex-direction: column;
		// 	right: 10px;
		// 	top: 50%;
		// 	transform: translateY(-50%);
		// }

		// &--add-menu {
		// 	display: flex;
		// 	flex-direction: row;
		// 	height: calc($button-size + 10px);
	
		// 	&:hover {
		// 		.editor__icon--image,
		// 		.editor__icon--text {
		// 			display: block;
		// 		}

		// 		.editor__icon--add {
		// 			background: $color-red;
		// 		}

		// 	}
		// }
	// }

	// &:hover .editor__icons--right, 
	// .edit-block:hover .editor__icons--bottom {
	// 	display: flex;
	// }

	// .add-section .editor__icon {
	// 	margin: 20px auto;
	// }
	// 