/*
 * Flexbox grid layout.
 */
.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 20px;
  position: relative;

  @include bp(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  .grid-col {
    padding: 5px;
    position: relative;

    &.align-bottom {
      align-items: flex-end;
    }

    &.align-center {
      align-items: center;
    }
  }

  // Grid columns.
  @for $i from 1 through 12 {
    .grid-col--#{$i} {
      flex-basis: 100%;

      @include bp(tablet) {
        flex-basis: (100% / 12) * $i;
      }
    }
  }

  img {
    width: 100%;
  }
}


/* 
 * Auto grid rows based on image sizes
 */
.auto-grid {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  position: relative;

  &-image {
    width: 100%;
    height: auto;
  }
}
