/*
 * Flexbox grid layout.
 */

$grid-img-height: 40vw;
$grid-img-max-height: 490px;

@mixin col-width($cols) {
  flex-basis: calc(#{($cols/12) * 100}% - 10px);
  width: calc(#{($cols/12) * 100}% - 10px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;

  &-col {
    display: flex;
    margin-bottom: 10px;

    &.align-bottom {
      align-items: flex-end;
    }

    &.align-center {
      align-items: center;
    }
  }

  @for $i from 1 through 12 {
    .grid-col--#{$i} {
      grid-column: span 12;

      @include bp(tablet) {
        grid-column: span $i;
      }
    }
  }

  &--overlay {
    left: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;

    .grid-col {
      background: $color-yellow;
      opacity: .5;
    }
  }
}