/*
 * Flexbox grid layout.
 */
.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 20px;
  position: relative;

  @include bp(tablet) {
    flex-direction: row;
  }

  .grid-col {
    display: flex;
    overflow: visible;
    position: relative;

    &.align-bottom {
      align-items: flex-end;
    }

    &.align-center {
      align-items: center;
    }
  }

  // Grid columns.
  @for $i from 1 through 12 {
    .grid-col--#{$i} {
      flex-basis: 100%;

      @include bp(tablet) {
        flex-basis: (100% / 12) * $i;
      }
    }
  }

  img {
    width: 100%;
  }
}