* {
	box-sizing: border-box;
}

body {
	background: $color-white;
	margin: 0;
}

.container {
	max-width: $container-width;
	width: 100%;
}

.page-menu {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 18px;
		line-height: 24px;
		margin: 0;
		padding: 0;
	}
}

.image {
	font-size: 0;
	width: 100%;

	img {
		background: #dedede;
		height: auto;
		width: 100%;
	}
}