@import 'vars';
@import 'mixins';
@import 'colors';
@import 'type';

@import 'forms';
@import 'grid';
@import 'page';
@import 'utilities';

//@todo move to components
@import 'home';

// Components.
@import '../components/header/header.scss';

// Todo create separate bundle for Editor UI.
@import 'buttons';
@import 'modal';
@import 'sidebar';

// Resets
body {
	margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}