<section class="block centered-image container">
	<div class="grid">
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--10">
      {{> image-block/image-block
          block=section.[0]
          sectionIndex=sectionIndex
      }}
		</div>
		<div class="grid-col grid-col--1"></div>
	</div>
</section>