<section class="block centered-image container {{#if section.[0].tight}}centered-image--tight{{/if}}">
	<div class="grid">
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--10">
      {{> image-block/image-block
          block=section.[0]
          sectionIndex=sectionIndex
      }}
		</div>
		<div class="grid-col grid-col--1"></div>
		{{#if section.[0].caption}}
			<div class="grid-col grid-col--2"></div>
			<div class="grid-col grid-col--8">
				<p class="caption">{{section.[0].caption}}</p>
			</div>
			<div class="grid-col grid-col--2"></div>
		{{/if}}
	</div>
</section>